<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equip="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body bgcolor="#00A7FA">

    <!-- Display messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name" value="{{ request.POST.first_name }}"><br>
        <input type="text" name="last_name" placeholder="Last Name" value="{{ request.POST.last_name }}"><br>
        <input type="text" name="username" placeholder="Username" value="{{ request.POST.username }}" required><br>
        <input type="email" name="email" placeholder="Email" value="{{ request.POST.email }}"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br><br>
        <button type="submit">Register</button>
    </form>

</body>
</html>
